@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    margin: auto;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
    display: flex;
    padding: 50px;
}

header a {
    
}

header picture {
    display: inline-block;
    max-height: 18px;
}


header ul {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: right;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: black;
    padding: 0px 20px 0px 20px;
}

main {
    max-width: 820px;
}
